body{
    padding: 0;
    margin: 0;
    font-family: Gantari;
    background: #F8FAFB;

}

.logo{
    top: -100px;
    margin-left: 50%;
}
.container {
    display: flex;
    width: 1280px;
    height: 720px;
    background: #F8FAFB;
    justify-content: space-around;
}

h1{
    font-size: 28px;
}

.informations{
    display: block;
    justify-content: center;
    margin: 30px;
}



.form_register{
    width: 495px;
    height:570px;
    margin: 40px;
    left: 300px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(202, 198, 193);
    display: block;
    padding: 5px;
    box-shadow: 0px 4px 7px 0px rgba(3, 3, 3, 0.25);

   
}

#home_title{
    font-size: 35px;
    color: #428BCA;
}
input{
    width: 435px;
    height: 52px;
    border-radius: 5px;
    border: 1px;
    gap: 10px;
    margin: 20px;
    border: 1px solid rgb(143, 141, 141);
    padding-left: 10px;
    margin-top: 10px;
    position: relative;
    top: 30px;
}
.input{
    margin-top: 80px;
}
.text_input{
    margin-left: 45px;
    margin-top: 20px;   
    position: relative;
    top: 40px;
    text-align: center;

}

label {
    margin-left: 18px;
    position: relative;
    top: 35px;
}
.logo {
    width: 77.04px;
    height: 103.35px;
    top: 57.67px;
    left: 267px;
}

.text_container{
    width: 474px;
    height: 286px;
    top: 282px;
    left: 65px;
    color: #3C4448;
    position: relative;
    top: 100px;

}
.text_container p {
    margin-top: 30px;
}

button {
    width:450px;
    height: 52px;
    padding: 15px, 201px, 15px, 201px;
    border-radius: 5px;
    gap: 10px;
    margin: 23px;
    background: #B6CB17;
    border: none;
    color: #F8FAFB;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 100px;
}

button:hover{
    background-color: rgb(255, 115, 0);
}

.form_login p{
   text-align: center;
   
}
#text_signIn{

    margin-left: 130px;
}

.title_form{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    display: flex;
}

.title_form img{
   margin-top: 10px;
   margin-left: 10px;
   height: 30px;
   cursor: pointer;
}

.title_form h3{
    margin-left: 50px;
    margin-top: 10px;
}



.loadModal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50rem;
    height: 25rem;
    position: relative;
    top: 15%;
    border-radius: 15px;
  }
  .items .load{
    height: 40%;
    width: 20%;
    position: relative;
    top: 3rem;
    left: 19rem;
  }
  
  .items .loadtext{
    position: relative;
    top: 6rem;
    left: 2rem;
    font-size: 2rem;
    font: Gantari;
    text-align: center;
  }

  


@media screen and (max-width: 375px){
.container{
    flex-direction: column;
}
.logo {
    width: 77.04px;
    height: 103.35px;
    top: 5px;
    left: 2px;
}
}