* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana", sans-serif;
    background-color: #F8FAFB;
}

.container {
    display: flex;
    justify-content: space-around;
}

.first-block {
    display: flex;
    flex-direction: column;
    max-width: 532px;
    margin: 180px 0;
    position: relative;
    bottom: 5rem;
}

.first-block img{
    width: 300px;
    height: 350px;
    position: relative;
    left: 8rem;
}


.second-block {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 495px;
    height: 565px;
    box-shadow: 0px 4px 7px 0px rgba(181, 181, 181, 0.25);
    position: relative;
    top: 40px;
}


h4 {
    color: var(--Noir, #0A0500);
    font-family: Gantari;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 70px;
    left: 29px;
}


input {
    border-radius: 5px;
    border: 1px solid var(--gray-stroke-input, #D9D9D9
    );
    width: 435px;
    height: 52px;
    padding-left: 10px;
    appearance: none;
    background-size: 16px; 
    background-position-x: 25rem;
    background-position-y: center;
    font-size: 18px;
    color: #738188;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}


h3{
    position: relative;
    left: 23px;
    top: 5rem;
}

.arrow{
    height: 3rem;
    position: relative;
    top: 3rem;
    left: 10px;
}




.button {
    border-radius: 5px;
    color: white;
    background: var(--senior-senior-1, #B6CB17);
    width: 435px;
    padding: 15px 201px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 470px;
    font-size: 20px;
    border: none;
}


.formulaire {
    padding: 150px 28px;
}